<nav>
  <!--<h1>Hi.</h1>-->
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <!--<img src="/logo.png" id="logo" alt="Blog logo"/>-->
    {% endif %}
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>Computer engineering student at Sapienza university of Rome.</br>
    Pwning with <a href="https://twitter.com/TheRomanXpl0it">@TheRomanXpl0it</a> and <a href="https://twitter.com/mhackeroni">@mhackeroni</a>.</br>
    <a href="https://defcon11396.it">DC11396</a> organizer.</br>
    Trumpeter.</br>
    Homebrewer.</br>
    Kamehameha expert.</p>
    <p>
    <a href="/about.html">About me</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
